p.prominent{
  font-size: 1.75em;  
}

h2.special{
    font-size: 2em;
}

h6.head6{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2.special{
    font-size: 2em;;
}

h4.header4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p.para2{
    font-size: 2em;
}